header{
    background-color: #689F38;
}
article{
    background-color: #DCEDC8;
}
footer{
    background-color: #9fda5c;
}
nav{
    margin:0;
    padding: 0;
    background-color: #008493;
    font-weight: 700;
    font-family: 'Segoe UI', sans-serif;
}
h1{
    padding-top: 30px;
    font-weight: 700;
}
.p{  
    padding-top: 20px;
    font-size: 18px;
    text-align: left;
}
.logo{
    width: 150px;
    height: 100px;  
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.monserrat{
    font-family: 'Montserrat', sans-serif;
    color: #212121;
    font-weight: 600;
}
.raleway{
    font-family: 'Raleway', sans-serif;
    color: #212121;
    font-weight: normal;
}
.centro{
    text-align: center;
}
.texto-centrado{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 20px;
    font-size: 18px;
}
#banner1{
    width: 100%;
    height: 400px;
}
#actividades{
    padding-top: 20px;
    font-style: italic;
}
.invertircolor{
    filter:invert();
}
#arte{
    width: 100%;
    height: 500px;
    padding-bottom: 20px;
}
#artesania{
    width: 100%;
    height: 500px;
    padding-bottom: 20px;
}
#titulo{
    text-align: right;
    font-size: 30px;
    font-weight: 700;
    padding-top: 32px;
}